@config '../../../tailwind.config.js'
@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  @apply font-bold !important;
  @apply text-header_1;
}

.h2 {
  @apply font-bold !important;
  @apply text-header_2;
}

.h3 {
  @apply font-bold !important;
  @apply text-header_3;
}

.text_box {
  @apply border-dashed;
  @apply border-base_black;
  border-width: calc(theme(spacing.1) * 0.25);
  padding: theme(spacing.1);
  margin-bottom: theme(spacing.1);
}
